@tailwind base;
@tailwind components;
@tailwind utilities;


body {

    color: #131421
}


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .hide-scrollbar::-webkit-scrollbar {
        display: none; /* Ne pas afficher la scrollbar */
    }
    /* Cacher la scrollbar pour IE, Edge */
    .hide-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

}